#header-content {
    margin: 0 auto;
    padding-top: 10px;
    padding-right: 200px;
    padding-left: 40px;
    height: 110px;
}

#website-logo {
    float: left;
    margin-top: 15px;
}

#logo {
    width: 200px;
}

header {
    background-color: orange;
    width: 100%;
    height: 110px;
    position: sticky;
}



#profilebox {
    background-color: #E4E3DF;
    margin-top: 3%;
    padding: 3%;
}

#editprofile {
    padding: 1%;
    float: right;
    border: 0;
    background-color: orange;
    margin-left: 4px;
}

#Cancel {
    padding: 1%;
    float: right;
    border: 0;
    background-color: #D8D8D5;
}

#save {
    display: none;
}

#userpass {
    display: none;
}

#homeproductdisplay {
    width: 100%;
    height: 100%;
    text-align: center;
    overflow: hidden;
    background-color: white;
}

#outsidebox {
    width: 87%;
    margin-top: 4%;
    margin-left: 4%;
    padding: 2%;
    background-color: white;
    overflow: hidden;
}

#productdetailwindow {
    width: 35%;
    float: left;
    background-color: #F6F6F4;
    padding: 2%;
    text-align: center;

}

#detailsinfo {
    text-align: left;
    width: 51%;
    background-color: #F6F6F4;
    float: left;
    display: inline;
    margin-left: 4%;
    padding: 2%;
}

#detailimg {
    width: 70%;
    height: 70%;
}

#filterhead {
    margin-left: 7%;
    font-size: 20px;
}

#sellersidenav {
    background-color: white;
    margin: 2%;
    float: left;
    display: inline;
    overflow: hidden;
    text-align: left;
    width: 12%;
    clear: both;
}

#sellersidenav a {
    color: black;
    text-decoration: none;
}

#sellersidenav a:link {
    color: black;
    text-decoration: none;
}

#sellersidenav a:hover {
    background-color: #CECDC9;
    color: white;
}

#sellersidenav a:visited {
    color: black;
    text-decoration: none;
}

#buyersidenav {
    background-color: white;
    height: 40%;
    margin: 2%;
    clear: both;
    float: left;
    display: inline;
    overflow: hidden;
    text-align: left;
    width: 12%;
    padding: 1%;
}

#buyersidenav input,
#buyersidenav label,
#buyersidenav div {
    margin-left: 7%;
    margin-top: 3%;
}

#sellermenuform {
    width: 100%;
    float: right;
    text-align: right;
}

#addproductsform {
    width: 35%;
    display: block;
}

#addproductsform label {
    float: left;
    display: inline-block;
    width: 210px;
}

#buyermenuform {
    width: 100%;
    float: right;
    text-align: left;
}

#sellermenuform button {
    padding: 1%;
    background-color: orange;
    border: none;
    font-size: 16px;
}

#buyermenuform button {
    padding: 1%;
    background-color: orange;
    border: none;
    font-size: 16px;
}

#loginform {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4%;
    background-color: white;
}

#loginform label,
#loginform .logininput {
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
}

#loginform #fileToUpload {
    margin-left: 5%;
}

#loginform #image {
    margin-left: 20%;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 5%;
}

#loginform .forgot {
    font-size: 14px;
    margin-left: 5%;
}

#loginform .logininput {
    width: 90%;
}

#loginform .radiologininput {
    width: auto;
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
}

#login {
    width: 90%;
    margin: 5%;
    background-color: blue;
    padding: 3%;
    border: 0;
}

#register {
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    background-color: orange;
    padding-top: 3%;
    padding-bottom: 3%;
    display: inline-block;
    border: 0;
}

#saveproductdetails {
    display: block;
    border: 0;
    background-color: orange;
    padding: 2%;
    margin-left: auto;
}

#pricelabel {
    display: block;
}

#range {
    display: inline;
}

form {
    width: 20%;
    display: inline;
}

#productdetails {
    width: 55%;
    margin-left: 4%;
    float: left;
}

#productdetails b {
    font-size: 30px;
}

#detailsinfo div {
    font-weight: bold;
    color: #ED8B15;
    font-size: 20px
}

#hometopmenu {
    border-bottom: 2px solid #CECDC9;
    width: 100%;
    background-color: white;
    display: inline-block;
    padding: 1%;
}

#homebestmenu {
    width: 100%;
    background-color: #CECDC9;
    display: inline-block;
    padding: 1%;
}

#hometopbox {
    height: 500px;
    overflow: visible;
    width: 50%;
    display: inline-block;
}

#homebigpic {
    position: relative;
    top: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

}

#home2pic {
    position: relative;
    top: 0px;
    left: 80px;
    right: 400px;
    animation: fadeInAnimationTop ease 3s;
    animation-delay: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    opacity: 0;
}

#home3pic {
    position: relative;
    bottom: 0px;
    left: 433px;
    animation: fadeInAnimationBot ease 3s;
    animation-delay: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    opacity: 0;
}

@keyframes fadeInAnimationBot {
    0% {
        opacity: 0;
        bottom: -245px;
    }

    100% {
        opacity: 1;
        bottom: 134px;
    }
}

@keyframes fadeInAnimationTop {
    0% {
        opacity: 0;
        top: -350px;
    }

    100% {
        opacity: 1;
        top: -170px;
    }
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
        left: 0px;
    }

    100% {
        opacity: 1;
        left: 50px;
    }
}

#homephrasebox {
    height: 500px;
    width: 40%;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    background-color: white;
    transform: skewX(-10deg);
    position: absolute;
    padding-right: 100px;
    padding-left: 90px;
    animation: fadeInAnimationbox ease 3s;
    animation-delay: 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    opacity: 0;
}

@keyframes fadeInAnimationbox {
    0% {
        opacity: 0;
        right: -500px
    }

    100% {
        opacity: 1;
        right: -100px;
    }
}

#homephrasebox p {
    padding-top: 80px;
    font-size: 23px;
    font-style: italic;
    padding-left: 100px;
    padding-right: 150px;
}

#addtocart {
    font-size: 15px;
    background-color: orange;
    border: none;
    padding: 18px;
    font-weight: bold;
    margin-top: 8%;
    display: block;
    margin-left: 3%;
}

#formbuydetails {
    margin-left: 4%;
    text-align: left;
    width: 55%;
    display: inline-block;
    border-bottom: 2px solid #F6F6F4;
    padding-bottom: 2%;
}

#quantity {
    margin-top: 5%;
}

#quantitylabel {
    margin-left: 3%;
}

#sellerproductimg {
    float: left;
}

#productsellername {
    font-size: 20px;

}

#specificdetails {
    color: #BFB9B9;
    border-left: 1px solid #F6F6F4;
    padding-left: 20px;
}

#specificdetails div {
    margin-top: 9%;
}

#checkout-button {
    color: orange;
    border: 1px solid orange;
    padding: 10px;
    margin-top: 5px;
    float: right;
}

#profileorderstable {
    display: none;
}

.profileform {
    width: 35%;
}

.profileinputform {
    float: right;
}

.checkout {
    margin-top: 5%;
    margin-left: 4%;
}

.paypal {
    width: 25%;
}

.sellerproductdetails {
    display: inline-block;
    height: 100px;
    width: 250px;
    margin-left: 20px;
    vertical-align: top;
}

.sellerproductdetails input {
    padding: 10px;
    border: 1px solid orange;
    color: orange;
    margin-top: 20px;
}

.reviewbox {
    padding-top: 12px;
    padding-bottom: 12px;
    border-bottom: 1px solid #BFB9B9;
}

.reviewerimg {
    float: left;
}

.reviewuserdetails {
    vertical-align: top;
    margin-left: 20px;
    display: inline-block;
}

.usercomment {
    margin-left: 2%;
    float: none;
    margin-top: 16px;
}

.productcolumn {
    width: 100px;
    height: 220px;
    margin: 2%;
    padding: 1%;
    border: 1px solid black;
    float: left;
    display: inline;
    overflow: hidden;
}

.remove {
    background-color: red;
    border: 0;
    margin-top: 5px;
}

.product_column {
    width: 100px;
    height: 220px;
    margin: 2%;
    padding: 1%;
    border: 1px solid black;
    float: left;
    display: none;
    overflow: hidden;
}

.loginbox {
    display: inline;
    float: right;
}

.loginbutton {
    background-color: blue;
    padding: 20%;
    color: white;
    display: contents;
}

.topmenu {
    width: 70%;
    background-color: #CECDC9;
    display: inline-block;
    padding: 2%;
    margin-top: 2%;
}

.productname,
.price {
    text-align: left;
}

.stargroup {
    margin-bottom: 1%;
    overflow: hidden;
    color: #C1C1C1;
}

.starslogo {
    width: 10%;
    float: left;
    display: inline;
}

.starslogodetails {
    width: 3%;
    float: left;
    display: inline;
}

.sellermenu {
    padding: 10%;
    display: block;
}

.pricerange {
    width: 50px;
}

#topheadnav a:link {
    text-decoration: none;
    color: white;
}

#topheadnav a:hover {
    text-decoration: underline;
}

#topheadnav a:visited {
    color: white;
}

html {
    height: auto;
}

body {
    margin: 0;
    background-color: #E4E3DF;
    height: 100%;
    padding-bottom: 20px;
}

/* CSS for the Filters */
.product_filters {
    margin-top: 20px;
    margin-left: 15px;
}

.show {
    display: block;
}

.homeproductcolumn {
    width: 130px;
    height: 200px;
    padding: 1%;
    border: 1px solid #CECDC9;
    float: left;
    display: inline;
    overflow: hidden;
    background-color: white;
}

.homeboxes {
    display: inline-table;
    width: 100%;
    margin-top: 3%;
    margin-bottom: 5%;

}

.homepic {
    animation: fadeInAnimationSmall ease 3s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimationSmall {
    0% {
        opacity: 0;
        top: 0px;
    }

    100% {
        opacity: 1;
        top: 250px;
    }
}

button.filter_btn {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: #f1f1f1;
    cursor: pointer;
}

button.filter_btn:hover {
    background-color: #ddd;
}

button.filter_btn.active {
    background-color: #666;
    color: white;
}

/* CSS for the Filters */

h1 {
    background-color: #CECDC9;
    text-align: left;
    padding-top: 2%;
    padding-bottom: 2%;
    margin: 0;
}

h2 {
    background-color: #BFB9B9;
    padding: 20px;
    margin-top: 0;
}

#shopping-cart-button {
    float: right;
    clear: right;
    margin-top: 15px;
}

/*Testing Slide*/

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    margin-top: 15px;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

.mySlides img {
    box-shadow: 10px 10px grey;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
    color: black;
    padding: 8px 12px;
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
}

.text a:link {
    color: black;
    text-decoration: none;
}

.text a:hover {
    background-color: grey;
    color: white;
}

.text a:visited {
    color: black;
    text-decoration: none;
}

.text a {
    width: 20px;
    background-color: orange;
    padding: 12px;
    font-size: 15px;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}
